#page .title{

	text-align: left;
	font-size: 1.25cm;
	text-decoration: underline;
}

#tablero #lienzo{

	border: 1px solid black;
	margin-top: 10px;
	margin-left: 10px;
}

#tablero #menu{

	width: 500px;
	height: 300px;
	border-style: solid;
	float: right;
	margin-right: 300px;
	margin-top: 100px;
}

#tablero #menu h1{

	margin-left: 10px;
}

#tablero #menu button{

	margin-left: 20px;
}

#tablero #menu h2{

	margin-left: 20px;
	margin-top: 75px;
}

#tablero p{

	width: 790px;
	height: 75px;
	margin-top: 5px;
	margin-left: 20px;
}

button{

    /* Para windows */
	padding: 17px 30px;
	margin-left : 4.5px;
	margin-right: 3.7px;

    /* Para linux */
    padding: 15px 25px;
	margin-left : 7px;
	margin-right: 6px;

    /* Estilo de los Botones */
	background-color: #DDDDDD;
	color: black;
	border-radius: 10%;
	border: 2px solid  black;
}

button:hover{

	background-color: black;
	color: white;
}

