/* CSS title*/
#title {

	text-align: left;
}

/* CSS board */
#tablero {
	float: left;
	width: 600px;
	height: 600px;
}
#board canvas {
	border: 1px solid black;
}

/* CSS menu */
#menu {
	float: left;
	margin: -15px 0px 0px 100px;
	font-size: 13pt;
}
#menu .marcador {	
	width: 350px;
	min-height: 350px;
}
#menu fieldset{
	border: 1px solid black;
	float: right;
	margin-top: 10px;
}
#menu #turno {
	font-size: 15pt;
	text-align: center;
}
#menu span {
	font-size: 25pt;
}
#menu button {
	border-radius: 10%;
	border: 1px solid gray;
	margin: 10px 15px 0px 15px;
	font-size: 15pt;
	padding: 10px;
	color: #333333;
  	background-color: #CCCCCC;
}
#menu button:hover {
	color: white;
  	background-color: #333333;
}