/* CSS del tablero */
#tablero {
	position: relative;
	top: 20px;
	left: 40px;
	float: left;
	width: 600px;
	height: 600px;
	border: 1px solid black;
	margin-left: 50px;
	grid-template-columns: 71px 71px 71px 71px 71px 71px 71px 71px 71px;
	/*display: grid;*/
}
#filas {
	/*display: grid;*/
}
#columna {
	
	/* Only put in diferent webs that not firefox quantum */
	/* display: grid;*/
	display: inline-block;
	margin-bottom: -4px;
	border: 2px solid white;
	background-color: #AAAAAA;

	text-align: center;
}
/* CSS del menu */
#menu {
	float: left;
}
fieldset, legend {
	border: 1px solid black;
}
fieldset {
	position: relative;
	top: 20px;
	left: 100px;
	width: 250px;
	min-height: 300px;
	text-align: center;
}
#menu button {
	padding: 10px 15px;
	border: 1px solid gray;
	border-radius: 10%;
}
#menu button:hover {
	color: white;
	background-color: gray;
}
#menu .bsize button:focus {
	color: white;
	background-color: gray;
}	
#menu #size .bsize {
	margin: 0px 5px 0px 0px;
}

button {
	padding: 10px 15px;
	border: 1px solid gray;
	border-radius: 10%;
}
button:hover {
	color: white;
	background-color: gray;
}
