#lienzo{
	border: 1px solid black;
}
#page{
	width: 800px;
}

#menu{
	width: 400px;float: right;
}
#menu .borrar{
	padding: 20px 20px; border-radius: 4px; border: 2px solid black;
	margin-top: 50px;
}
#menu .borrar:hover{
	background-color: black; color: white;
}
fieldset{
	border: 1px solid black;
}
legend{
	border: 1px solid black;
}

#Botones{
	float: right;
}
#Botones .button{
	background-color: white; color: black; border: 1px solid black;
	padding: 15px 32px; text-align: center; font-size: 16px;
	float: left;
}
#Botones .button:hover{
	background-color: black; color: white;
}

