legend {
	font-size: 25px;
}

p {
	margin-left: 10px;
}
		
#menu {
	float: right;
	margin-top: 30px;
	margin-right: 200px;
	margin-left: 100px;
}
#menu .ShootMenu {	
		width: 300px;
		height: 300px;
}
#menu .Marcador {
	margin-top: 20px;
	width: 300px;
	height: 250px;
}

#reglas {
	width: 300px;
	height: 300px;
	background-color: 
}