#page{
    width: 1500px;
    height: 700px;
}
#page .title{
    text-align: center;
    text-decoration: underline;
}

canvas{
    border: 1px solid black;
}
#tablero #menu{
    width: 400px;
    height: 500px;

    float: right;
    margin-top: 50px;
    margin-right: 200px;
}
fieldset{
    border: 1px solid black;
}
input{
    border: 1px solid black;
}
